* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: white;
  color: rgb(22, 21, 21);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.144);
  padding: 15px 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-weight: 500;
}

.logo span {
  display: block;
  font-size: 12px;
  font-weight: 300;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  color: white;
}
.nav ul li:hover{
background-color: rgb(130, 127, 129);
  transform: scale(1.1);
  transition: 0.1s all ease-in-out;
  border-radius: 5px;
}

.btn {
  background: rgb(225, 141, 155);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  align-items: end;
}

.btn:hover{
  background-color: rgb(248, 5, 175);
  transform: scale(1.1);
  transition: 0.1s all ease-in-out
}

.btn-outline {
  background: white;
  border: 2px solid rgb(221, 119, 136);
  color:rgb(221, 93, 172);
  padding: 10px 20px;
}
.hero {
  height: 100vh;
  background:url(https://cdn.shopify.com/s/files/1/1150/2764/files/Linen_Fabric_Is_Popular_Among_Dallas_Designers_da2e2669-cdba-421a-abe7-5407c6a35c21.jpg?v=1761558630) no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;

}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.6);
}

.hero-content {
  position: relative;
  color: whitesmoke;
  max-width: 700px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.about {
  display: flex;
  gap: 30px;
  padding: 80px 0;
}

.about-images {
  position: relative;
  width: 300px;
}

.about-images img {
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.about-images {
  width: 380px;
}

.about-images2 {
  width: 180px;
  position: absolute;
  top: -40px;
  right: 10;
}

.about-images3 {
  width: 220px;
  position: absolute;
  bottom: -60px;
  left: -80px;
}

.about-images4 {
  width: 150px;
  position: absolute;
  top: 120px;
  right: 150px;
  
}

.about-text h5 {
  color: pink;
  margin-bottom: 10px;
}

.about-text h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.experience {
  margin: 20px 0;
}

.experience h3 {
  font-size: 40px;
  color: pink;
}

.services {
  background: rgb(221, 213, 213);
  padding: 80px 0;
  text-align: center;
}

.service-box {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  flex: 1;
}

.card.active {
  background: black;
  color: white;
}

.pricing {
  padding: 80px 0;
  text-align: center;
}

.pricing-box {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.price-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.10);
}

.price-card .price {
  font-size: 28px;
  color: pink;
  margin: 15px 0;
}

.featured {
  background: rgb(33, 55, 70);
  color: white;
}

.footer {
  background: rgb(23, 35, 63);
  color: white;
  padding: 70px 0 20px;
}

.footer-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 220px;
}

.footer-logo {
  color: white;
  font-size: 22px;
  margin-bottom: 15px;
}

.footer-col h4 {
  color: white;
  margin-bottom: 20px;
  position: relative;
}

.footer-col h4::after {
  width: 30px;
  height: 2px;
  background: pink;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 12px;
  font-size: 14px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background:rgb(18, 29, 50);
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.gallery img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  color: rgb(132, 130, 130);
}
